
.Search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start after a fish is found */
    height: 100vh; /* Take up the full height of the viewport */
    padding: 20px;
}

.Search form {
    position: absolute;
    top: 80px; /* Move the form down to avoid overlapping with the title */
    right: 50px; /* Move the form to the right */
    text-align: right;
    max-width: 200px; /* Make the form smaller */
}

.error {
    color: red;
}

.fish-info {
    max-width: 600px;
    text-align: left;
    padding-top: 100px; /* Add space at the top to avoid overlapping with the title */
}
