.error {
    color: red;
}

.fish-info {
    max-width: 600px;
    text-align: left;
}

.recipe-list {
    text-align: left;
}

.recipe-list ul {
    list-style-type: none;
    padding-left: 0;
}

.recipe-list li {
    cursor: pointer;
}



