.error {
    color: red;
}

.fish-info {
    max-width: 600px;
    text-align: left;
    padding-top: 0px; /* Reduced space at the top to bring the fish info closer to the header */
}

.recipe-list {
    text-align: left;
}

.recipe-list ul {
    list-style-type: none;
    padding-left: 0;
}

.recipe-list li {
    cursor: pointer;
}



