.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically in the center */
    height: 100vh; /* Take up the full height of the viewport */
    bottom: 0;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    background-image: url(../../media/ranger-4df6c1b6.png);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    position: relative;
}

.feature-img{
    position: absolute;
    bottom: 0;
    top: 100;
    right: 10%;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color:#222;
}

.content p{
    margin: 10px 0 30px;
    color: #333;
}

.anime{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}